{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe !{% endblock %}

{% block body %}

        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe </h1>
        <p> Entrez votre nouveau mot de passe </p>

        {{form(form)}}

{% endblock %}