{%  extends 'base.html.twig' %}

{%  block body %}

    {% include 'component/allFlashesMessage.html.twig' %}

        <h1> Bienvenue sur le Générateur de Présentation PowerPoint</h1>
        <br>

        <p> Attention ! Si vous souhaitez pouvoir enregistrer le formulaire pour le modifier ultérieurement il faut absolument vous
            <a href="{{ path('app_login') }}"> Connecter</a> ou vous <a href="{{ path('app_register') }}"> Inscrire </a> avant de le compléter</p>

    {%  include 'powerPoint/form/formPowerPoint.html.twig' %}

{%  endblock %}

{%  block javascripts %}
    {%  include 'powerPoint/form/javascriptFormPowerPoint.html.twig' %}
{%  endblock %}
