{%  extends 'base.html.twig' %}

{%  block stylesheets %}
{% endblock %}

{%  block body %}

    {% include 'component/allFlashesMessage.html.twig' %}

    {%  if page == 'home' %}
        <h1> Bienvenue sur le Générateur de Présentation PowerPoint</h1>
        <br>

        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <p> Attention ! Si vous souhaitez enregistrer le formulaire pour le modifier ultérieurement il faut absolument vous
                <a href="{{ path('app_login') }}"> Connecter</a> ou vous <a href="{{ path('app_register') }}"> Inscrire </a> avant de le compléter</p>
        {%  endif %}
    {%  endif %}

    {%  if page == 'edit_powerpoint' %}
        <h1> Modification du powerpoint : {{ title_powerpoint }}</h1>
    {%  endif %}



    {%  include 'powerPoint/form/formPowerPoint.html.twig' %}

{%  endblock %}

{%  block javascripts %}
    {%  include 'powerPoint/form/javascriptFormPowerPoint.html.twig' %}

{%  endblock %}
