{% extends 'base.html.twig' %}

{% block title 'Mes powerpoints' %}

{% block body %}

    {%  include 'component/allFlashesMessage.html.twig' %}

    {%  if powerpoints is not empty %}
        {%  for powerpoint in powerpoints %}
            <p>
                <a href="{{ path('powerpoint_edit', {id: powerpoint.id}) }}"> Edition du powerpoint :  {{ powerpoint.name }}</a>
            </p>
        {%  endfor %}
    {%  endif %}

{% endblock %}


