{% extends 'base.html.twig' %}

{% block title 'Mentions Légales' %}

{% block body %}

    <h1 class="text-center"> Mentions Légales</h1>

    <a href="https://www.linkedin.com/in/arthur-robert/" target="_blank">
        <h4> Créé par Arthur ROBERT</h4>
    </a>
    <h4> Adresse mail de contact : <a href="mailto:contact@dansespowerpoint.cr32.fr">contact@dansespowerpoint.cr32.fr </a> </h4>
    <br>

    <h3>Hébergeur : </h3>
    <br>
    <h4>
        O2Switch <br>
        <br>
        Adresse : 222-224 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand <br>
        <br>
        Téléphone : 04 44 44 60 40 <br>
    </h4>

{% endblock %}



