{% extends "base.html.twig" %}

{% block title 'Récupération danse' %}

{% block body %}

<h1 class="text-center"> Générer le Powerpoint à partir d'une liste de danse</h1>
<p class="text-center"> Veuillez inscrire les danses ci-dessous dans l'ordre</p>

{{form(form)}}
{% endblock %}