{{ form_start(form) }}
        {{ form_row(form.danses) }}
<button type="button" id="add_category" class="btn btn-secondary" style="margin-bottom:2%">Ajouter une danse</button>

{{ form_rest(form) }}
{{ form_end(form) }}