{% for label, messages in app.flashes %}
    {%  for message in messages %}
        <div class="alert flash-{{ label }} alert-{{ label }} ">
            {{ message }}
        </div>
    {%  endfor %}
{%  endfor %}